.sidebar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar-nav a {
  display: block;
  color: #cbd5e1;
  text-decoration: none;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
}

.sidebar-nav a.active-link,
.sidebar-nav a:hover {
  background-color: #0d6efd;
  color: white;
}
